.form-box{
    box-sizing: border-box;
    display: block;
    margin:0;
    width: 1000px;
    margin-left: 360px;
    margin-top: 60px;
    padding: 50px;
    border: 3px solid black;
    border-radius: 15px;

}
.form-box input{
    display: inline;
    width: 270px;
    padding: 3px;
    border: 2px solid black;
    margin: 9px
}
.form-box textarea{
    height: 16vh;
    border: 2px solid black;
    margin: .8vw 0 ; 
    resize: horizontal;
    padding-right: 600px; 
}